*{
    margin: 0;
    padding: 0;
    border: 0;
}

img{
    display: inline-block;
    width: 25%;
    height: 125px;
    float: left;
    transition: 0,5s;
}

img:hover{
    width: 30%;
    height: 150px;
}
